.submit{
    border: 1px solid black;
    background-color: black;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    text-align: center;
    margin-top: 10px;
}

.field
{
    border: 1px solid black;
    border-radius: 7px;
}

@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
    .movietext {
        margin-right: 160px;
    }

    .nametext {
        margin-right: 189px;
    }

    .emailtext {
        margin-right: 193px;
    }

    .textarea {
        max-height: 100px;
        min-height: 35px;
        width: 235px;
    }

    .otherfield
    {
        margin-right: 2px;
        width: 235px;
    }

    .form {
        margin-top: 10px;
    }

    @media only screen and (max-device-width: 1000px)
    {
        .movietext {
            margin-right: 155px;
        }

        .nametext {
            margin-right: 184px;
        }

        .emailtext {
            margin-right: 188px;
        }
    }
}

@-moz-document url-prefix() {

    .movietext {
        margin-right: 142px;
    }

    .nametext {
        margin-right: 173px;
    }

    .emailtext {
        margin-right: 176px;
    }

    .textarea {
        max-height: 100px;
        min-height: 35px;
        width: 225px;
    }

    .form {
        margin-top: 10px;
    }

    @media only screen and (max-device-width: 1000px)
    {

        .movietext {
            margin-right: 154px;
        }

        .nametext {
            margin-right: 183px;
        }

        .emailtext {
            margin-right: 187px;
        }

        .otherfield
        {
            width: 223px;
        }

        .textarea
        {
            width: 225px;
            margin-right: 2px;
        }
    }
}