.submit{
    border: 1px solid black;
    background-color: black;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    text-align: center;
    margin-top: 10px;
}

.field
{
    border: 1px solid black;
    border-radius: 7px;
}

@supports (-webkit-appearance: none) and (not (-ms-ime-align: auto)) {
    .movietext {
        margin-right: 157px;
    }

    .nametext {
        margin-right: 186px;
    }

    .emailtext {
        margin-right: 190px;
    }

    .textarea {
        max-height: 100px;
        min-height: 35px;
        width: 235px;
    }

    .form {
        margin-top: 10px;
    }
}

@-moz-document url-prefix() {

    .movietext {
        margin-right: 142px;
    }

    .nametext {
        margin-right: 173px;
    }

    .emailtext {
        margin-right: 176px;
    }

    .textarea {
        max-height: 100px;
        min-height: 35px;
        width: 225px;
    }

    .form {
        margin-top: 10px;
    }

    @media only screen and (max-device-width: 1000px)
    {
        .otherfield
        {
            width: 220px;
        }

        .textarea
        {
            width: 220px;
        }
    }
}