@media only screen and (max-device-width: 1023px) {
  .carousel {
    margin-left: 11.25%;
    width: 80%;
    height: 80%;
  }
}

@media (min-width: 1024px) {
  .carousel {
    margin-left: 0;
    width: 100%;
    height: 100%;
  }
}

.button {
  border: 1px solid black;
  background-color: black;
  border-radius: 20px;
  text-align: center;
  transition: 0.4s;
  padding: 0 1rem;
}

.button:hover {
  box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5);
  transition: 0.4s;
}
