.buttons {
  border: 1px solid black;
  background-color: black;
  border-radius: 20px;
  height: 60px;
  text-align: center;
  transition: 0.4s;
}

.buttons:hover {
  box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5);
  transition: 0.4s;
}

.buttons2 {
  border: 1px solid black;
  background-color: black;
  border-radius: 20px;
  text-align: center;
  transition: 0.4s;
}

.buttons2:hover {
  box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5);
  transition: 0.4s;
}

.buttonbottom {
  margin-top: 10px;
}

.buttontop {
  margin-bottom: 10px;
}

.uptimebutton {
  width: 130px;
  height: 52px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.column {
  flex: 33%;
}

/* Mobile optimization */

.buttons {
  width: 230px;
}

.buttons2 {
  width: 230px;
}

.column {
  margin-bottom: 20px;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left {
  flex-direction: column;
  display: flex;
}

@media (min-width: 1024px) {
  .row {
    display: flex;
    flex-direction: row;
  }

  .buttons {
    width: 200px;
  }

  .buttons2 {
    height: 30px;
    width: 200px;
  }

  .middle {
    margin-top: 1.4px;
  }

  .right {
    margin-top: 1.4px;
  }
}
