/* Mobile optimization */

.button {
  border: 1px solid black;
  background-color: black;
  border-radius: 20px;
  width: 150px;
  height: 30px;
  text-align: center;
  transition: 0.4s;
  margin-top: 10px;
  flex: 100%;
}

.image {
  border: 0.2px solid black;
  background-color: #0259c0;
  border-radius: 20px;
  width: 150px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.4s;
  margin-top: 10px;
  flex: 100%;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .button {
    border: 0.2px solid black;
    background-color: black;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    text-align: center;
    transition: 0.4s;
    margin-top: 10px;
    flex: 25%;
    margin-right: 10px;
  }

  .image {
    border: 1px solid black;
    position: relative;
    background-color: #0259c0;
    border-radius: 20px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    text-align: center;
    transition: 0.4s;
    margin-top: 10px;
    flex: 25%;
    margin-right: 20px;
  }

  .actualimage {
    max-width: 80%;
    margin-bottom: 0.4px;
  }
}

@media (min-width: 1280px) {
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .button {
    border: 0.2px solid black;
    background-color: black;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    text-align: center;
    transition: 0.4s;
    margin-top: 10px;
    flex: 25%;
    margin-right: 20px;
  }

  .image {
    border: 1px solid black;
    position: relative;
    background-color: #0259c0;
    border-radius: 20px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    text-align: center;
    transition: 0.4s;
    margin-top: 10px;
    flex: 25%;
    margin-right: 20px;
  }

  .actualimage {
    max-width: 80%;
    margin-bottom: 0.4px;
  }
}

.actualimage {
  max-width: 80%;
  margin-bottom: 0.4px;
}

.button:hover,
.image:hover {
  box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5);
  transition: 0.4s;
}
