#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Imagesprofile {
  display: flex;
}

.Profileimage1 {
  filter: brightness(70%);
}

.Profileimage2 {
  filter: brightness(70%);
}

.Profileimage3 {
  filter: brightness(70%);
}

.textprofile1 {
  transform: translate(140px, -200px);
  font-size: 16px;
  position: absolute;
}

