@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.oplusbuttons {
  @apply bg-blue-400 text-white rounded-full py-2 px-4
}